.details-page-section{
    text-align: center;
}

button.fea-button.btn.btn-outline-warning {
    display: block;
    margin-left: auto;
    margin-right: auto;
    color: #000000;
    margin-top: 25px;
    margin-bottom: 25px;
}

.fea-button a{
    color: #000;
    text-decoration-line: none;
   
}